doctype html
html
  head
    link(href='/css/view.css', rel='stylesheet')
    script(src="http://use.edgefonts.net/lato:n9,i4,n1,i7,i9,n7,i1,i3,n4,n3:all.js")

  body
    h1= app.raw.name
    a(href='mailto:#{app.raw.email}')= app.raw.email

    dl
      - var questions = [ 'name', 'email', 'year' ]
      - questions.push('major', 'phone', 'applying-for', 'what-do-you-want', 'run-hackathon')
      - questions.push('run-business-pitch-competition', 'code', 'build-brand', 'teach-entrepreneurship')
      - questions.push('inspire-entrepreneurs', 'expand-epic-reach', 'story', 'why-interested')
      - questions.push('why-passionate-entrep', 'how-contribute', 'other-involvements', 'anything-else')
      each question in questions
        - var answer = app.raw[question]
        dt= question
        if (question == 'resume')
          dd
            - var resumeobj = JSON.parse(answer);
            a(href='#{resumeobj.url}')= resumeobj.filename
        else
          dd= answer
